{% extends "_layout/main.html" %}

{% block content %}
<h1>Gear</h1>
<form>
  <input type="search" name="search" placeholder="Search WOW Database">
  <button>Search</button>

  <input type="radio" name="tradable" value="True"> Tradable
  <input type="radio" name="tradable" value="False"> Non-Tradable
  <input type="radio" name="tradable" value="Both"> Both

  <select name="slot">
      <option value="ANY">[Select Slot]</option>
      <option value="head">Head</option>
      <option value="neck">Neck</option>
      <option value="chest">Chest</option>
      <option value="shoulder">Shoulder</option>
      <option value="back">Back</option>
      <option value="waist">Waist</option>
      <option value="legs">Legs</option>
      <option value="hands">Hands</option>
      <option value="wrist">Wrist</option>
      <option value="feet">Feet</option>
  </select>
  <br>
  <table>
      <tr>
          <td>Primary Stats</td>
          <td>Minimum:
            <input type="number" name="p_minimum" value=1 min=1 max=10000>
          </td>
          <td>Maximum:
            <input type="number" name="p_maximum" value=10000 min=1 max=10000>
          </td>
          <td><input type="checkbox" name="primary_stat" value="agility"> Agility</td>
          <td><input type="checkbox" name="primary_stat" value="intellect"> Intellect</td>
          <td><input type="checkbox" name="primary_stat" value="stamina"> Stamina</td>
          <td><input type="checkbox" name="primary_stat" value="strength"> Strength</td>
          <!--<td></td>-->
      </tr>
      <tr>
          <td>Secondary Stats</td>
          <td>Minimum:
            <input type="number" name="s_minimum" value=1 min=1 max=10000>
          </td>
          <td>Maximum:
            <input type="number" name="s_maximum" value=10000 min=1 max=10000>
          </td>
          <td><input type="checkbox" name="secondary_stat" value="critical strike"> Critical Strike</td>
          <td><input type="checkbox" name="secondary_stat" value="agility"> Haste</td>
          <td><input type="checkbox" name="secondary_stat" value="intellect"> Mastery</td>
          <td><input type="checkbox" name="secondary_stat" value="strength"> Versatility</td>
      </tr>
  </table>
 </form>
    <br><br>

<table>
  <thead>
    <tr>
      <th>Name</th><th>Slot</th><th>Primary Stat</th><th>Secondary Stats</th><th>Material</th><th>Tradable</th><th>Price</th>
    </tr>
  </thead>
  <tbody>
    {% for id, name, slot, pval, pstat, s1val, stat1, s2val, stat2, material, tradable, price in gears %}
    <tr>
      <td>{{ name }}</td>
      <td>{{ slot }}</td>
      <td>{{ pval }}{{ " " }}{{ pstat }}</td>
      <td>{{ s1val }}{{ " " }}{{ stat1 }}<br>{{ s2val }}{{ " " }}{{ stat2 }}</td>
      <td>{{ material|default("", true) }}</td>
      <td>{{ tradable }}</td>
      <td>{{ price|default("", true) }}</td>
    </tr>
    {% else %}
    <tr>
        <td colspan="7" align="center">No Results</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
