{% extends "_layout/main.html" %}

{% block content %}
<h1>Gear Search</h1>
<form name="my_form">
  <input type="search" name="search" placeholder="Search by item name">
  <button>Search</button>


    --- <b>Search by price:</b> <input type="number" name="price_min" value=0 min=0 max=999999999> to <input type="number" name="price_max" value=999999999 min=0 max=999999999> gold
  <br><br>
     <b>Vendor Sold?</b>
  <input type="radio" name="tradable" value="True"> Yes
  <input type="radio" name="tradable" value="False"> No
  <input type="radio" name="tradable" value="Both" checked> Both

  --- <b>Search by item slot:</b>
  <select name="slot">
      <option value="ANY">[Select Slot]</option>
      <option value="head">Head</option>
      <option value="neck">Neck</option>
      <option value="chest">Chest</option>
      <option value="shoulder">Shoulder</option>
      <option value="back">Back</option>
      <option value="waist">Waist</option>
      <option value="legs">Legs</option>
      <option value="hands">Hands</option>
      <option value="wrist">Wrist</option>
      <option value="feet">Feet</option>
  </select>
    <br>
  <table>
      <tr>
          <br><td><b>Search by Primary Stats</b></td>
          <td>Minimum:
            <input type="number" name="p_minimum" value=1 min=1 max=10000>
          </td>
          <td>Maximum:
            <input type="number" name="p_maximum" value=10000 min=1 max=10000>
          </td>
          <td><input type="checkbox" name="primary_stat" value="agility"> Agility</td>
          <td><input type="checkbox" name="primary_stat" value="intellect"> Intellect</td>
          <td><input type="checkbox" name="primary_stat" value="stamina"> Stamina</td>
          <td><input type="checkbox" name="primary_stat" value="strength"> Strength</td>
      </tr>
      <tr>
          <td><b>Search by Secondary Stats</b></td>
          <td>Minimum:
            <input type="number" name="s_minimum" value=1 min=1 max=10000>
          </td>
          <td>Maximum:
            <input type="number" name="s_maximum" value=10000 min=1 max=10000>
          </td>
          <td><input type="checkbox" name="secondary_stat" value="critical strike"> Critical Strike</td>
          <td><input type="checkbox" name="secondary_stat" value="haste"> Haste</td>
          <td><input type="checkbox" name="secondary_stat" value="mastery"> Mastery</td>
          <td><input type="checkbox" name="secondary_stat" value="versatility"> Versatility</td>
      </tr>
  </table>
    <br>
<table>
      <tr>
          <td><b>Search by gear material</b></td>
          <td><input type="checkbox" name="materials" value="cloth"> Cloth</td>
          <td><input type="checkbox" name="materials" value="leather"> Leather</td>
          <td><input type="checkbox" name="materials" value="mail"> Mail</td>
          <td><input type="checkbox" name="materials" value="plate"> Plate</td>
      </tr>
  </table>
    <br>
    <select name="region">
      <option value="ANY">[Select Map Region]</option>
      <option value="highmountain">Highmountain</option>
      <option value="stormheim">Stormheim</option>
      <option value="azsuna">Azsuna</option>
      <option value="val'sharah">Val'sharah</option>
      <option value="suramar">Suramar</option>
      <option value="dalaran">Dalaran</option>
      <option value="the broken shore">The Broken Shore</option>
  </select>
    <select name="dungeon">
      <option value="ANY">[Select Dungeon]</option>
      <option value="black rook hold">Black Rook Hold</option>
      <option value="court of stars">Court of Stars</option>
      <option value="eye of azshara">Eye of Azshara</option>
      <option value="halls of valor">Halls of Valor</option>
      <option value="darkheart thicket">Darkheart Thicket</option>
      <option value="maw of souls">Maw of Souls</option>
      <option value="neltharion's lair">Neltharion's Lair</option>
      <option value="the arcway">The Arcway</option>
      <option value="vault of the wardens">Vault of the Wardens</option>
      <option value="violet hold">Violet Hold</option>
  </select>

    <select name="raid">
      <option value="ANY">[Select Raid]</option>
      <option value="emerald nightmare">Emerald Nightmare</option>
      <option value="trial of valor">Trial of Valor</option>
      <option value="the nighthold">The Nighthold</option>
  </select>

    <input type="search" name="boss" placeholder="Search Bosses">
    <button>Search</button>

    <input type="search" name="vendor" placeholder="Search Vendors">
    <button>Search</button>
 </form>
    <br><br>

<table>
  <thead>
    <tr>
      <th>Name</th><th>Slot</th><th>Primary Stat</th><th>Secondary Stats</th><th>Material</th><th>Vendor Sold?</th>
        <th>Price</th><th>Vendor</th><th>Dungeon</th><th>Boss</th>
        <th>Raid</th>
    </tr>
  </thead>
  <tbody>
    {% for id, name, slot, pval, pstat, s1val, stat1, s2val, stat2, material, tradable, price, full_name, dungeon, boss, raid in gears %}

    <tr>
      <td><a href="/gear/{{ id }}" style="color:black">{{ name }}</a></td>
      <td>{{ slot }}</td>
      <td>{{ pval }}{{ " " }}{{ pstat }}</td>
      <td>{{ s1val }}{{ " " }}{{ stat1 }}<br>{{ s2val }}{{ " " }}{{ stat2 }}</td>
      <td>{{ material|default("", true) }}</td>
      <td>{{ tradable }}</td>
      <td>{{ price|default("", true) }}</td>
      <td>{{ full_name }}</td>
      <td>{{ dungeon }}</td>
      <td>{{ boss }}</td>
      <td>{{ raid }}</td>


    </tr>
    {% else %}
    <tr>
        <td colspan="11" align="center">No Results</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
