{% extends "_layout/main.html" %}

{% block content %}
<h1>Gear</h1>
<form>
  <input type="search" name="search" placeholder="Search WOW Database">
  <button>Search</button>

  <input type="radio" name="tradable" value="True"> Tradable
  <input type="radio" name="tradable" value="False"> Non-Tradable
  <input type="radio" name="tradable" value="Both"> Both

 </form>
<table>
  <thead>
    <tr>
      <th>Name</th><th>Slot</th><th>Primary Stat</th><th>Secondary Stats</th><th>Material</th><th>Tradable</th>
    </tr>
  </thead>
  <tbody>
    {% for id, name, slot, pstat, stat1, stat2, material, tradable in gears %}
    <tr>
      <td>{{ name }}</td>
      <td>{{ slot }}</td>
      <td>{{ pstat }}</td>
      <td>{{ stat1 }}<br>{{ stat2 }}</td>
      <td>{{ material|default("", true) }}</td>
      <td>{{ tradable }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
