@import url("http://overpass-30e2.kxcdn.com/overpass.css");

body {
    margin: 0;
    padding: 0;
    background-color: #5a6d7e;
    font-family: overpass, sans-serif;
}

/**
The container for blocks of readable text.
*/
.main-content-reader {
    background-color: white;
    max-width: 80rem;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    margin: auto;
    margin-top: 2rem;
    padding: 2rem;

    border-radius: .4rem;
    border: solid #6c4410 .2rem;
}

table {
   border-collapse: collapse;
   width: 100%;
}

table td {
    padding: .2em .4em;
    margin: 0;
    min-width: 0em;
    border: 1px solid black;
}

table tr:nth-child(even) {
    background-color: lightgrey;
}


.color1 { color: #000000}
.color2 { color: #4f3d15}
.color4 { color: #5b4b1a}
.color5 { color: #090b06}
.color6 { color: #5e5a6b}
.color10 { color: #0f0f00}
.color9 { color: #111107}
.color11 { color: #734700}
.color12 { color: #6c4410}
.color15 { color: #0e160b}
.color16 { color: #000200}
.color17 { color: #010101}
.color18 { color: #804d14}
.color19 { color: #a55e28}
.color20 { color: #e6af21}
.color21 { color: #3a4352}
.color22 { color: #a3612f}
.color8 { color: #ffffae}
.color23 { color: #06000c}

.color7 { color: #8a8873}
.color14 { color: #f4d52f}
.color13 { color: #403b42}
